# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\GitHubUploads\Softuni\SoftUniCourses\Spring Data and Hibernate\Hibernate_JPA_Code_First\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
