# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\GitHubUploads\Softuni\SoftUniCourses\Java Advanced\LEcture 07 - Sets and Maps Advanced\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
