# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\GitHubUploads\Softuni\SoftUniCourses\Java Advanced\Java Advanced Practice Exam - 28.06.2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
