# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\GitHubUploads\Softuni\SoftUniCourses\Spring Data and Hibernate\Spring Data Practice Exam\RealDeal_Skeleton\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
